body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* TODO enhance / use another library */
.my-border-search-bar {
  border: 1px solid #999;
  border-radius: 15px;
  margin-top:10px;
}

.my-capitalise {
  text-transform: capitalize;
}

/* https://www.udemy.com/react-redux-tutoriel-pour-debutants-en-francais/ #65: animations */
/* Not working: tutorial out of date, TODO see later (especially on a table) */
/* .fade-leave.fade-leave-active {
  transform: translate(-500%);
  transition: transform 3000ms;

} */